body{
  background-color: blanchedalmond
}
.App {
  text-align: center;
}
.container
{
    display: block;
    text-align: center;
}
.row
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.heading{
  margin-top: 5rem;
  font-size: 10rem;
  font-family: 'Francois One', sans-serif;
}
.heading2{
  font-size: 1.5rem;
  margin-top: 2rem;
  font-family: 'Francois One', sans-serif;
}
input{
  background-color: #4CAF50;
  border: none;
  padding: 10px 20px;
  border-radius: 1vh;
  color: white;
  margin-top: 20vh;
  cursor: pointer;
}

button{
  margin-left: 3rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 1vh;
  cursor: pointer;
}